# TLS client certificate request

[ req ]
default_bits            = 2048                  # RSA key size
encrypt_key             = no                    # Protect private key
default_md              = sha1                  # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = yes                   # Prompt for DN
distinguished_name      = client_dn             # DN template
req_extensions          = client_reqext         # Desired extensions

[ client_dn ]
countryName             = "VN"
countryName_max         = 2
stateOrProvinceName     = "HN"
localityName            = "HN"
organizationName        = "VNPAY"
organizationalUnitName  = "Blockchain"
commonName              = "Loyalty"
commonName_max          = 64

[ client_reqext ]
keyUsage                = critical,digitalSignature
extendedKeyUsage        = clientAuth
subjectKeyIdentifier    = hash